body {
    background-color: rgb(4, 4, 4);
}


#gradient-vertical {
    --color-stop-1: #00c3ff;
    --color-stop-2: #7300e6;
    --color-stop-3: #d91cff;
  }
  
.log-ct {
    height: 100vh;
    display:flex;
    justify-content:center;
  align-items:center;
}
.bg-box {

   position: absolute;
   z-index: 0;
   
}
.bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    filter: blur(6px);
    opacity: 43%;
   
}

.svg-box {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.svg {
    width: 150px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box-login {
    width: 420px;
    row-gap: 16px;
    height: 560px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(75, 75, 75, 0.316);
    justify-content: center;
    background-color: #dddddd2a;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    z-index: 1000;
    
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn {
    width: 200px;
    border-radius: 50px;
}
  

@keyframes BottomAnimation {
  0% {
      transform: translateY(20px);
  }
  
100% {
    
}


}